<h2>Products</h2>

<div class="product" *ngFor="let product of ($products | async)">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <i *ngFor="let rating of product.rating" class="rating material-icons">star</i>

  <p class="price">
    {{ product.price | price: locale }}
  </p>

  <div class="cta-container">
    <div class="cta-container--1">
      <button type="button" (click)="share()">Add to cart</button>
    </div>

    <div class="cta-container--2">
      <button type="button" (click)="addAsFavourite(product)" *ngIf="!product.isFavourite, else isFavourite">Add favourite</button>
      <ng-template #isFavourite>
        <button type="button" (click)="removeAsFavourite(product)">Delete favourite</button>
      </ng-template>
      <button type="button">Share</button>
    </div>
  </div>
</div>
