<div class="title-section">
  <a [routerLink]="['/']">
    <h1>My Courses</h1>
  </a>

  <div class="dropdown">
    <select class="dropdown-select" (change)="selectLocale($event)">
      <option
        *ngFor="let locale of locales"
        [value]="locale.value"
        [selected]="locale.value === 'en-ca'">
        {{ locale.value }}
      </option>
    </select>
  </div>
</div>

<div class="top-bar--right">
  <a class="favourite-icon">
    <i class="material-icons" role="img" attr.aria-label="{{faveCount$ | async}} favourited courses">favorite</i>
    <span class="count">{{faveCount$ | async}}</span>
  </a>
  <a class="button fancy-button">
    <i class="material-icons">shopping_cart</i>Checkout
  </a>
</div>

