
.dropdown-select {
  outline: none;
  height: 40px;
  text-align: center;
  border: none;
  background: rgba(255, 255, 255, 0.9);
}

.dropdown {
  border-radius: 3px;
  overflow: hidden;
  margin-left: 10px;
}

.title-section {
  display: flex;
}

.top-bar--right {
  display: flex;
}

.favourite-icon {
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.favourite-icon .material-icons, .count {
  color: white;
}
.count {
  margin-left: 5px;
}

